# Node.js
node_modules/
npm-debug.log
yarn-error.log
taskflow-client/dist/
.env
.env.local

# .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

# IDEs and OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
